## Assignment 1

In [7]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("Up above the world so high,")
print("\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
Up above the world so high,
	Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [8]:
import sys
print("Python version")
print(sys.version)
print("Version info")
print(sys.version_info)

Python version
3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]
Version info
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [9]:
import datetime
now = datetime.datetime.now()
print("Current date and time is : ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time is :
2025-05-14 11:35:59

In [10]:
from math import pi
r = float(input("Input the radius of the circle : "))
area = pi * r**2
print("The area of the circle with radius", r, "is:", round(area,2))

Input the radius of the circle :  5

The area of the circle with radius 5.0 is: 78.54

In [12]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Reversed Name:", last_name, first_name)

Enter your first name:  Adza
Enter your last name:  Rajasekhar

Reversed Name: Rajasekhar Adza

In [13]:
values = input("Input some comma separated numbers: ")
list_values = values.split(",")
tuple_values = tuple(list_values)
print('List :', list_values)print('Tuple :', tuple_values)

Input some comma separated numbers:  2,4,5,3,67,33,7,0

List : ['2', '4', '5', '3', '67', '33', '7', '0']
Tuple : ('2', '4', '5', '3', '67', '33', '7', '0')

In [14]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")[-1]
print("The extension of the file is:", f_extns)

Input the Filename:  Adza.bro

The extension of the file is: bro

In [15]:
color_list = ["Red", "Green", "White", "Black"]
print("First color:", color_list[0])
print("Last color:", color_list[-1])

First color: Red
Last color: Black

In [17]:
exam_st_date = (12, 12, 2025)
print("The examination will start from: %i / %i / %i" % exam_st_date)

The examination will start from: 12 / 12 / 2025

In [18]:
n = int(input("Enter a number: "))
nn = int(str(n) * 2)
nnn = int(str(n) * 3)
print("Result:", n + nn + nnn)

Enter a number:  8890

Result: 889177826670

In [20]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [22]:
import calendar
year = int(input("Input the year: "))
month = int(input("Input the month: "))
print(calendar.month(year, month))

Input the year:  2004
Input the month:  03

     March 2004
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [23]:
print("""
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [26]:
from datetime import date
f_date = date(2003, 3, 23)
l_date = date(2004, 3, 24)
delta = l_date - f_date
print(f"Days between: {delta.days}")

Days between: 367

In [29]:
from math import pi
r = float(input("Input the radius of the circle : "))
volume = (4.0/3.0) * pi * r**3
print("Volume of the sphere is:", round(volume))

Input the radius of the circle :  4

Volume of the sphere is: 268

In [30]:
def diff_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return 17 - n

print(diff_17(22))
print(diff_17(14))

10
3

In [31]:
def near_thousand(n):
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(2200))

True
True
False
False

In [32]:
def sum_thrice(x, y, z):
    if x == y == z:
        return 3 * (x + y + z)
    else:
        return x + y + z

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

In [35]:
def new_string(text):
    if len(text) >= 2 and text[:3] == "Is ":
        return text
    return "Is " + text

print(new_string("Array"))
print(new_string("Is Empty"))

Is Array
Is Empty

In [37]:
def larger_string(text, n):
    return text * n

print(larger_string("Python ", 2))
print(larger_string("Python ", 3))

Python Python
Python Python Python

In [38]:
num = int(input("Enter a number: "))
if num % 2 != 0:
    print("Odd")
else:
    print("Even")

Enter a number:  55

Odd

In [40]:
def list_count_4(set):
    count = 0
    for num in set:
        if num == 4:
            count += 1
    return count

print(list_count_4([1, 4, 6, 7, 4]))

2

In [41]:
def is_vowel(char):
    return char.lower() in 'aeiou'

print(is_vowel('a'))
print(is_vowel('b'))

True
False

In [42]:
def is_value_in_group(value, group):
    return value in group

print(is_value_in_group(3, [1, 5, 8, 3]))
print(is_value_in_group(-1, [1, 5, 8, 3]))

True
False

In [43]:
def histogram(items):
    for n in items:
        print('*' * n)

histogram([2, 3, 6, 5])

**
***
******
*****

## Assignment 2

In [46]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2 if num2 != 0 else "Cannot divide by zero")

Enter first number:  3
Enter second number:  4

Addition: 7.0
Subtraction: -1.0
Multiplication: 12.0
Division: 0.75

In [47]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  6

Even

In [48]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age:  4

Not eligible to vote

In [49]:
a = 5
b = 10

temp = a
a = b
b = temp
print("After swap using third variable:", a, b)

a, b = b, a
print("After swap without third variable:", a, b)

After swap using third variable: 10 5
After swap without third variable: 5 10

In [50]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [52]:
num = int(input("Enter a number: "))
is_prime = True

if num <= 1:
    is_prime = False
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

print("Prime" if is_prime else "Not Prime")

Enter a number:  111

Not Prime

In [54]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial:", factorial)

Enter a number:  9

Factorial: 362880

In [56]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms:  8

0 1 1 2 3 5 8 13

In [57]:
text = input("Enter a string: ").lower()

if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string:  Adza

Not a palindrome

In [58]:
sentence = input("Enter a sentence: ").lower()
words = sentence.split()
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

Enter a sentence:  I am a girl.

{'i': 1, 'am': 1, 'a': 1, 'girl.': 1}

In [59]:
filename = "sample.txt"
text = input("Enter some text to write to the file: ")

with open(filename, "w") as f:
    f.write(text)

with open(filename, "r") as f:
    content = f.read()
    print("File content:", content)

Enter some text to write to the file:  Dza.txt

File content: Dza.txt

In [60]:
try:
    a = float(input("Enter numerator: "))
    b = float(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Invalid input. Please enter numbers.")

Enter numerator:  3
Enter denominator:  5

Result: 0.6

In [61]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

    def show_balance(self):
        print(f"Account balance: ₹{self.balance}")

acc = BankAccount("Anto", 12000)
acc.deposit(5000)
acc.withdraw(2000)
acc.show_balance()

Account balance: ₹15000

## Assignment 3

In [62]:
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print("* " * i)

Enter number of rows:  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [63]:
rows = int(input("Enter number of rows: "))
for i in range(rows, 0, -1):
    print("* " * i)

Enter number of rows:  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [64]:
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

Enter number of rows:  4

      *
    * *
  * * *
* * * *

In [65]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    print("  " * (rows - i - 1) + "* " * (2 * i + 1))

Enter number of rows:  4

      *
    * * *
  * * * * *
* * * * * * *

In [66]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        if k == 0 or k == 2 * i or i == rows - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter number of rows:  4

      *
    *   *
  *       *
* * * * * * *

In [67]:
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "* " * i)

Enter number of rows:  6

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [68]:
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter number of rows:  6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

## Assignment 4

In [71]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

# Example usage
s1 = "loot"
s2 = "Tool"

if are_anagrams(s1, s2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [73]:
print(are_anagrams(s1, s2))

True

In [74]:
def find_duplicates(lst):
    seen = set()
    duplicates = set()
    
    for item in lst:
        if item in seen:
            duplicates.add(item)
        else:
            seen.add(item)
    
    return list(duplicates)

print(find_duplicates([1, 2, 3, 2, 4, 5, 1]))

[1, 2]

In [75]:
from collections import Counter

def first_non_repeating_char(s):
    char_count = Counter(s)
    
    for char in s:
        if char_count[char] == 1:
            return char
    return None  # Return None if no non-repeating character is found

print(first_non_repeating_char("abracadabra"))

c

In [77]:
def fib(n):
    a = 0
    b = 1
    num = 0
    print("Fibonacci series:")
    while num <= n:
        print(a)
        a,b = b,a+b
        num +=1
fib(35)

Fibonacci series:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465

In [78]:
def fib(n, memo={}):
    if n in memo:
        return memo[n]
    if n <= 1:
        return n
    memo[n] = fib(n - 1, memo) + fib(n - 2, memo)
    return memo[n]

print(fib(35))  # Output: 9227465

9227465

In [82]:
def two_sum(s, target):
    complements = {}
    for num in s:
        complement = target - num
        if complement in complements:
            return (complement, num)
        complements[num] = True
    return None  # No valid pair found

print(two_sum([2, 7, 11, 15], 9))

(2, 7)

In [83]:
def roman_to_int(s):
    roman = {'I': 1, 'V': 5, 'X': 10, 'L': 50,
             'C': 100, 'D': 500, 'M': 1000}
    
    total = 0
    prev_value = 0
    
    for char in reversed(s):
        value = roman[char]
        if value < prev_value:
            total -= value
        else:
            total += value
        prev_value = value
    
    return total

print(roman_to_int("XIV"))

14

In [84]:
def reverse_list(lst):
    return lst[::-1]

print(reverse_list([1, 2, 3, 4, 5]))  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [85]:
def is_balanced(expr):
    stack = []
    for char in expr:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if not stack:
                return False
            stack.pop()
    return len(stack) == 0

print(is_balanced("(())()"))  # True
print(is_balanced("(()"))     # False

True
False

In [87]:
from collections import Counter

def frequency_sort(s):
    freq = Counter(s)
    sorted_chars = sorted(freq.items(), key=lambda x: -x[1])
    result = ''.join(char * count for char, count in sorted_chars)
    return result

print(frequency_sort("tree"))  # Output: "eetr" or "eert"

eetr

In [88]:
def normalize_emails(emails):
    normalized = set()
    for email in emails:
        cleaned = email.strip().lower()
        normalized.add(cleaned)
    return list(normalized)

emails = ["User@Gmail.com ", "user@gmail.COM", "admin@yahoo.com"]
print(normalize_emails(emails))

['admin@yahoo.com', 'user@gmail.com']

## Assignment: Object-Oriented Programming (OOP) in Python

In [91]:
class Student:
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll

    def display(self):
        print(f"Name: {self.name}, Roll: {self.roll}")

s1 = Student("Adza", 20)
s1.display()

Name: Adza, Roll: 20

In [92]:
class Account:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

acc = Account("Maria", 1000)
acc.deposit(500)
print(acc.get_balance())

1500

In [93]:
class Animal:
    def speak(self):
        print("Animal sound")

class Dog(Animal):
    def speak(self):
        print("Bark")

d = Dog()
d.speak()

Bark

In [94]:
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def area(self):
        print("Area of Circle")

class Square(Shape):
    def area(self):
        print("Area of Square")

for shape in (Circle(), Square()):
    shape.area()

Area of Circle
Area of Square

In [95]:
class Demo:
    def __init__(self):
        print("Object created")

    def __del__(self):
        print("Object deleted")

obj = Demo()
del obj

Object created
Object deleted

## Assignment: Python File System - Reading Files

In [96]:
with open("sample.txt", "r") as file:
    content = file.read()
    print(content)

Dza.txt

In [97]:
with open("sample.txt", "r") as file:
    line = file.readline()
    while line:
        print(line.strip())
        line = file.readline()

Dza.txt

In [98]:
with open("sample.txt", "r") as file:
    lines = file.readlines()
    print("Total lines:", len(lines))
    print(lines)

Total lines: 1
['Dza.txt']

In [99]:
with open("sample.txt", "r") as file:
    for index, line in enumerate(file, 1):
        print(f"Line {index}: {line.strip()}")

Line 1: Dza.txt

In [100]:
from pathlib import Path
file_path = Path("sample.txt")
if file_path.exists():
    print("File exists. Size:", file_path.stat().st_size, "bytes")
else:
    print("File does not exist.")

File exists. Size: 7 bytes